entrypoint="index.html"
hidden=[".config"]
modules = ["web", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Run Web App"

[[workflows.workflow]]
name = "Run Web App"
author = 42372600
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
